<%- include("partials/header")%>


    <h1 class="topic post">Contact</h1>
    <div class="content contact">
        <a href="https://www.linkedin.com/in/sneha-thakur-" target="_blank">
            <i class='bx bxl-linkedin-square bx-lg'></i>
        </a>
        <a href="https://instagram.com" target="_blank">
            <i class='bx bxl-instagram bx-lg'></i>
        </a>
        <a href="https://twitter.com" target="_blank">
            <i class='bx bxl-twitter bx-lg'></i>
        </a>
        <a href="mailto:snehathakur345656@gmail.com">
            <i class='bx bx-envelope bx-lg'></i>
        </a>

    </div>

    <%- include("partials/footer")%>