* {
    font-family: 'Mulish', sans-serif;
    font-family: 'Noto Sans Armenian', sans-serif;
}
body{
    position: relative;
    min-height: 100vh;
}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

.navbar {
    z-index: 1;
    position: sticky;
    top:0;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    box-shadow:0 0 5px -2px black;
    background-color:#7961bc;
    color:white;
}
.navbar-nav li a{
    color:white !important;
    transition:all 0.3s ease-out;
}
.navbar-nav li{
    height:inherit;
}
.navbar-brand{
    color:#ece9e9 !important;
}
.navbar-nav li a:hover {
    /* background:white !important; */
    transform:scale(1.24);
    /* color: #9376E0 !important; */
}
.blognest h1{
    font-size:8rem;
}
.blognest b{
    letter-spacing: 2px;
}
.blognest p{
    font-size:1.8rem;
}
.blognest{
    min-height: 75vmin;
    display:flex;
    flex-flow: column;
    justify-content: center;
    /* align-items: center; */
    gap:1rem;
}
a, a:hover{
    color:#9376E0;
}

.but{
    width:fit-content;
    padding:1.2rem ;
    font-size:1.6rem;
    border:none;
    background:#9376E0;
    /* background:#A2678A; */
    color:white;
    border-radius: 5px;
    box-shadow: 0 0 2px black;
}
.clicked{
    color:#9376E0 !important;
    background:white !important;
}
.but:hover{
    background-color: #7961bc;
    color:white !important;
    border:none !important;
}
.title{
    margin-top:0;
    margin-bottom:2rem;
    font-size:2.5rem;
    text-transform: capitalize;
}
h1.topic{
    position:relative;
    font-size: 3rem;
    margin-top:10rem;
    text-transform: capitalize;
}
h1.topic::after{
    content:"";
    height: 3px;
    width:10%;
    position:absolute;
    left:8%;
    bottom:-20%;
    background-color: #9376E0;
    color: #9376E0;
}
.topic.post{
    text-align: center;
}
.topic.post::after{
    left:45%;
}
.content{
    margin-bottom:8rem;
    margin-top:4rem;
    font-size:1.5rem;
    background:rgba(128, 128, 128, 0.08);
    width:73vw;
    padding:4rem;
    border-radius: 10px;
    text-align: justify;
}
.post-content{
    font-size:1.6rem;
    line-height: 4vh;
}
.contact{
    display:flex;
    flex-wrap: wrap;
    gap:6rem;
    justify-content: center;
    max-width:30vw !important;
    margin:auto;
    margin-top:3rem;
}
.contact a:hover{
    transform: scale(2);
}
.contact a{
    transition: all 0.3s ease-in-out;
    transform: scale(1.5);
    color:#9376E0;
}
.footer-padding {
    padding-bottom: 60px;
    
}

.footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: #9376E0;
    /* background-color: #1abc9c; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p {
    font-size: 12px;
    color: #fff;
    margin:0 !important;
}